########################################
# REQUIRED VARIABLES
########################################

compartment_id = "ocid1.compartment.oc1..aaaaaaa..."
tenancy_ocid   = "ocid1.tenancy.oc1..aaaaaaaaqh5uemzgiwvqvikjxlxl6h5mdncebvlmbb7prcrcgglnbdsr5dqa"

image_id       = "ocid1.image.oc1.ap-mumbai-1.aaaaaaa..."
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ..."

########################################
# GENERAL SETTINGS
########################################

region       = "ap-mumbai-1"
project_name = "bharatmart"
environment  = "dev"

########################################
# NETWORK CONFIG
########################################

vcn_cidr            = "10.0.0.0/16"
public_subnet_cidr  = "10.0.1.0/24"
private_subnet_cidr = "10.0.2.0/24"

enable_nat_gateway       = true
enable_backend_public_ip = false

########################################
# FRONTEND VM SETTINGS
########################################

frontend_instance_count = 1
frontend_instance_shape = "VM.Standard.A1.Flex"

########################################
# BACKEND VM SETTINGS
########################################

compute_instance_count        = 1
compute_instance_shape        = "VM.Standard.A1.Flex"
compute_instance_ocpus        = 2
compute_instance_memory_in_gb = 12

########################################
# LOAD BALANCER SETTINGS
########################################

load_balancer_shape          = "flexible"
load_balancer_shape_min_mbps = 10
load_balancer_shape_max_mbps = 10

########################################
# TAGS
########################################

tags = {
  Project     = "BharatMart"
  ManagedBy   = "Terraform"
  Environment = "dev"
  Team        = "SRE"
}
